@import "../01-config/variables.scss";

.nav__wrapper {
  background-color: white;
  position: relative;
  z-index: 999;
  width: 100%;
}

.nav {
  margin: 0 auto;
  max-width: 1110px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: white;
  z-index: 999;
}

.nav__logo {
  margin-right: auto;
}

.nav__link {
  white-space: nowrap;
}

@media (min-width: 651px) {
  .nav__menu {
    display: flex;
    align-items: center;
    &-icon {
      display: none;
    }
  }

  .nav__link {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    color: $Dark-Grayish-Violet;
    margin-right: 24.6px;
    transition: all ease-out 0.2s;
    &:hover {
      color: $Very-Dark-Violet;
    }
    &:active {
      color: $Dark-Grayish-Violet;
    }
  }
}

@media (max-width: 650px) {
  .nav__menu-icon {
    display: block;
  }
  .nav__menu {
    &:not(.active) {
      display: none;
    }
    display: flex;
    flex-direction: column;
    background: $Very-Dark-Violet;
    height: calc(100vh - 110px);
    width: 100%;
    padding-top: 30px;
    position: absolute;
    z-index: 998;
    top: 80px;
    left: 0;
    &::after {
      content: url("./../../images/bg-pattern-mobile-nav.svg");
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  .nav__link {
    color: white;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 20px auto;
  }
}

@media (max-width: 1109px) {
  .nav {
    padding: 0 24px;
  }
}
